.container {
    max-width: 1000px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
}

textarea {
    display: block;
    border: 1px solid #000;
    height: 100px;
    resize: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
}

input {
    width: 200px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    border: 1px solid #000;
    margin-bottom: 10px;
    height: 30px;
    line-height: 30px;
}

button {
    display: block;
    width: 100px;
    height: 40px;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    border: none;
    background: #000;
}

ul {
    height: calc(100vh - 262px);
    min-height: 400px;
    overflow-y: scroll;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    flex-grow: 1;
}

ul li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #000;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

ul li:last-child {
    margin-bottom: 0;
}

span.autor {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
    color: red;
    font-size: 16px;
}

span.date {
    color: #000;
    font-size: 14px;
    display: inline-block;
}

p.text {
    width: 100%;
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 18px;
    border-top: 1px solid #ccc;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}